<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Museum</title>
		<link rel="stylesheet" type="text/css" href="/css/jass.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	</head>

	<body>
		{{!-- <header> --}}
		{{!-- </header> --}}

		<nav>
			<a href="/">home</a>
			<a href="/dashboard">dashboard</a>
			<a href="/register">register</a>
			<a href="/login">login</a>
			<a href="/logout">logout</a>
		</nav>

		<main>
			{{{body}}}
		</main>
	</body>

</html>
