<div class="userCard">
    <div class="userSplash"></div>
    <div class="profilePicture"></div>
    <span class="optionsIcon"></span>
    <div class="userInfo">
        <h1>{{user.name}}</h1>
        <p>{{user.email}}</p>
        <p>{{user.bio}}</p>
    </div>
</div>
