<div class="card user">
    <div class="userSplash"></div>
    <div class="profilePicture"></div>
    <span class="optionsIcon"></span>
    <div class="userContent">
        <h1>{{user.name}}</h1>
        <p>{{user.email}}</p>
        <p>{{user.bio}}</p>
    </div>
</div>

{{#each user.posts as |post|}}
    {{> post post=post user=../user link=true}}
{{/each}}
